<div class="tabs">
  <%= link_to 'Feedback', '#my-reviews', class: 'tab-link tab-my-reviews active' %>
  <%= link_to 'Meta Feedback', '#my-meta-reviews', class: 'tab-link tab-my-meta-reviews' %>
</div>

<div class="my-reviews" id="my-reviews">
  <% if @reviews.present? %>
    <% @reviews.each do |review| %>
      <h2><%= review.comment %></h2>
      <% review.statements.each do |statement| %>
        <p><span><%= @review_scores[review.id][statement.id] %></span><%= statement.phrase %></p>

      <% end  %>
    <% end %>
  <% else %>
      <p>You ain't got no reviews, pardner.</p>
  <% end %>
</div>

<div class="my-meta-reviews hidden" '#my-meta-reviews'>
  <% if @reviews_by_user.present? %>
      <% @reviews_by_user.each do |review| %>
          <h2><%= review.comment %></h2>
          <% ['actionability', 'specificity', 'kindness'].each do |name| %>
              <p><%= name %>
              <% @meta_scores[review.id][name].each do |key, value| %>
                    <%= value %>
              <% end %>
              </p>
          <% end  %>
      <% end %>
  <% else %>
      <p>You ain't given no reviews, pardner.</p>
  <% end %>
</div>
