<h2>Give Some Feedback!</h2>

<%= form_for(@review, :html => {:class => "form-new-review"}) do |f| %>
  <%= f.collection_select :user_id, @users, :id, :email %>
  <div><%= f.text_area :comment %></div>
  <ul>
    <%= f.fields_for :statement_scores do |field| %>
      <li>
        <% id = field.object.statement_id %>
        <p class="statements"><%= @statements.find { |s| s.id == id }.phrase %></p>
        <%= field.hidden_field :statement_id %>
        <div class="radios">
          <div class="inner-radios">
            <% scale_of_ratings.each_with_index do |radio_name, index| %>
              <%= field.label radio_name %>
              <%= field.radio_button :score, index+1 %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <%= f.hidden_field :reviewer_id, value: @reviewer.id %>
  <%= f.submit 'Send Anonymous Feedback', class: 'btn btn-blue btn-review-new' %>
<% end %>
