<nav class='mini-nav'>
  <%= link_to 'Home', root_path, class: "mini-nav-link" %>
  <%= link_to 'Give Feedback', new_review_path, class: "mini-nav-link #{'active' if nav_link_active?(new_review_path)}" %>
  <%= link_to 'Rate Feedback', new_rating_path, class: "mini-nav-link #{'active' if nav_link_active?(new_rating_path)}" %>
  <%= link_to 'Get Feedback', reviews_path, class: "mini-nav-link #{'active' if nav_link_active?(reviews_path)}" %>

  <% if current_user %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'mini-nav-link float-right' %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path, class: 'mini-nav-link float-right' %>
    <%= link_to "Sign Up", new_user_registration_path, class: 'mini-nav-link float-right' %>
  <% end %>
</nav>
